---
BasedOnStyle: Mozilla
AllowAllConstructorInitializersOnNextLine: false
AllowShortFunctionsOnASingleLine: Inline
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom
BreakConstructorInitializers: BeforeColon
BreakInheritanceList: BeforeColon
ColumnLimit: '0'
ConstructorInitializerAllOnOneLineOrOnePerLine: true
PenaltyReturnTypeOnItsOwnLine: '10000'
PointerAlignment: Middle
FixNamespaceComments: true
NamespaceIndentation: None
...
